---
import { Code } from 'astro:components'

const importingImage = `-import { Image } from 'astro:components'
+import { Image } from 'astro-lqip/components'
`

const importingPicture = `-import { Picture } from 'astro:components'
+import { Picture } from 'astro-lqip/components'
`

const example = `---
import { Image, Picture } from 'astro-lqip/components'

import image from './path/to/image.png'
import otherImage from './path/to/other-image.png'
---

<Image src={image} alt="Cover Image" width={220} height={220} />
<Picture src={otherImage} alt="Other cover Image" width={220} height={220} />
`
---

<article>
  <section>
    <h2>Usage</h2>
    <p>
      In your current Astro project, just replace the import of the native Astro
      <code>&lt;Image&gt;</code>
      or
      <code>&lt;Picture&gt;</code>
      component with the one provided by
      <a href="https://www.npmjs.com/package/astro-lqip" target="_blank" rel="noopener noreferrer">astro-lqip</a>
      .
    </p>
    <h3>Image</h3>
    <Code code={importingImage} lang="diff" />
    <h3>Picture</h3>
    <Code code={importingPicture} lang="diff" />
    <p>Example:</p>
    <Code code={example} lang="astro" />
  </section>
</article>
